<div id="map" class="map">
  <div id="zones-legend" class="legend d-none d-md-block">
    <h6>Componenti UNESCO</h6>
    <div><span style="background-color: #f768a1"></span>Core zone</div>
    <div><span style="background-color: #feebe2"></span>Buffer zone</div>
  </div>
</div>
<div class="map-menu d-none d-md-block">
  <div id="menu">
    <input id="ckqc3h3i600gu18pgwzh0qpjt" type="radio" name="rtoggle" value="satellite" checked="checked">
    <label for="ckqc3h3i600gu18pgwzh0qpjt">Immagine satellitare</label>
    <input id="ckrc5h3ak03s518scu3lsusbn" type="radio" name="rtoggle" value="streets">
    <label for="ckrc5h3ak03s518scu3lsusbn">Carta topografica</label>
  </div>
  <button id="fit">Estensione completa sito UNESCO</button>
</div>
