<footer class="mt-5 container-m">
  <div class="row">
    <div class="row text-center">
      <div class="col-4 p-3 footer-credits"><img src="/assets/img/Logo_nuovo_small.png" class="img-fluid"></div>
      <div class="col-4 p-3 footer-credits"><img src="/assets/img/Logo_MiC_small.png" class="img-fluid"></div>
      <div class="col-4 p-3 footer-credits"><a href='https://www.ithacaweb.org' target="_blank" rel="noopener noreferrer"><img src="/assets/img/logo_ithaca_srl.png" class="img-fluid"></a></div>
    </div>
    <div class="row text-center">
      <div class="col-4 p-3  footer-links footer-credits align-center">
        <p>Associazione per il patrimonio dei Paesaggi vitivinicoli di Langhe-Roero e Monferrato</p>
        <p><a class="footer-credits" href="mailto:info@paesaggivitivinicoliunesco.it?subject=Info">info@paesaggivitivinicoliunesco.it</a></p>
        <p><a class="footer-credits" href="https://www.paesaggivitivinicoliunesco.it/privacy-cookie-policy/">PRIVACY POLICY</a></p>
      </div>
      <div class="col-4 p-3 footer-links footer-credits">
        <p> Progetto finanziato a valere sui fondi della Legge 20 febbraio 2006, n. 77 "Misure speciali di tutela e fruizione dei siti italiani di interesse culturale, paesaggistico e ambientale, inseriti nella "lista del patrimonio mondiale", posti sotto la tutela dell'UNESCO </p>
      </div>
      <div class="col-4 p-3 footer-links footer-credits text-center">
        <p>ITHACA</p>
        <p><a href="mailto:info@ithacaweb.org?subject=Info">info@ithacaweb.org</a></p>
      </div>
    </div>
  </div>
</footer>
