<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZ3VlcmN1c2d1byIsImEiOiJja29vYTVmdXIwMnJjMm5vanBrb2dwZmp1In0.GFGEzzSYk1QNXmqJ-9lhjA';
var map = new mapboxgl.Map({
	container: 'map', // container ID
	style: 'mapbox://styles/guercusguo/ckqc3h3i600gu18pgwzh0qpjt', // style URL
	// mapbox://styles/guercusguo/ckqc3h3i600gu18pgwzh0qpjt - SAT
	// mapbox://styles/guercusguo/ckrc5h3ak03s518scu3lsusbn - TOPO
	center: [8.39015,45.05038], // starting position
	zoom: 12 // starting zoom
	// pitch: 85,
	// bearing: 80,
});
// chapters on map
var chapters = {
	'monferrato-infernot': {
		bearing: 27,
		center: [8.39015,45.05038],
		zoom: 12,
		pitch: 20
	},
	'canelli-spumante': {
		duration: 6000,
		center: [8.247222,44.740324],
		bearing: 150,
		zoom: 12,
		pitch: 0
	},
	'langa-barolo': {
		bearing: 90,
		center: [7.96339,44.61254],
		zoom: 12,
		speed: 0.6,
		pitch: 40
	},
};

var layerList = document.getElementById('menu');
var inputs = layerList.getElementsByTagName('input');
var fallbackImageUrl = '/../assets/markers/pink-marker.png';
// Chapter-scrolling: On every scroll event, check which element is on screen
window.onscroll = function () {
	var chapterNames = Object.keys(chapters);
	for (var i = 0; i < chapterNames.length; i++) {
		var chapterName = chapterNames[i];
		if (isElementOnScreen(chapterName)) {
			setActiveChapter(chapterName);
			break;
		}
	}
};

var activeChapterName = 'monferrato-infernot';
function setActiveChapter(chapterName) {
	if (chapterName === activeChapterName) return;

	map.flyTo(chapters[chapterName]);

	document.getElementById(chapterName).setAttribute('class', 'active');
	document.getElementById(activeChapterName).setAttribute('class', '');

	activeChapterName = chapterName;
}

function isElementOnScreen(id) {
	var element = document.getElementById(id);
	var bounds = element.getBoundingClientRect();
	return bounds.top < window.innerHeight && bounds.bottom > 0;
}
// End of chapter-scrolling
</script>
